* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212121;
  color: #fff;
  font-size: 16px;
  font-family: "Monospace", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: 30px 20px;
  font-size: 2rem;
}
h2 {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 10px;
}
p {
  padding: 20px;
  margin-left: 30px;
}
img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
#products {
  background: white;
  color: #212121;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
