* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9296a1;
  color: #fff;
  font-size: 16px;
  font-family: "Helvetica", sans-serif sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: 30px 20px;
  font-size: 2rem;
}
h2 {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}
p {
  padding: 20px;
  margin-left: 30px;
}
img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
#users {
  background-color: #ccc;
  color: #212121;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100%;
}
#ouruser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to right, #d0aeac, #9296a1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
